.page-footer__copyright-link::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#logo-htmlAcademy-text"));
  background-color: #666666;
  width: 115px;
  height: 20px;
}

.page-footer__copyright-link::after {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#logo-htmlAcademy"));
  background-color: #666666;
  width: 115px;
  height: 20px;
}
